body { 
  background: #eee; 
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  min-height: 800px; 
}

hr {
  margin-top: 0px;
}

text {
  pointer-events: none;
  font-size: 14px;
  fill: #fff;
}

.country {
  font-weight: bold;
  color: #e74c3c;
}

.title {
  text-align: center;
}

#chart2012, #chart2013, #chart2014 {
  padding: 30px;
  width: 960px;
  height: 500px;
  background: none;
  margin: 0 auto;
}

.money {
  font-family: 'Lato', sans-serif; 
  font-weight: 400; 
  font-size: 2.3em;
  line-height: 110%;
  display:block;
  z-index: 100;
}

.ministry {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
}

rect {
  /**fill: none;**/
  stroke: #eee;
}

.grandparent text{
  font-size: 20px;
}

rect.parent, .grandparent rect {
  stroke-width: 3px;
}

.grandparent rect {
  fill: #eee;
    padding-buttom: 30px; !important
}

.grandparent text {
  fill: #000;
}

.grandparent:hover text {
  fill: #95a5a6;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: none;
  fill-opacity: .8;
}

.children:hover rect.child {
  fill: #256A87;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #fff;
  color: #000;
  border-radius: 2px;
}

.d3-tip h4 {
  color: #1abc9c;
}

.d3-tip hr {
  height: 3px;
  background-color:#1abc9c;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 20px;
  width: 100%;
  line-height: 1;
  color: #fff;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -6px 0 0 0;
  top: 100%;
  left: 0;
}

.alignleft {
  font-weight: bold;
  float: left;
}
.alignright {
  float: right;
}

.nav-tabs {
  border-bottom: transparent;
}

.circle {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    font-size:20px;
    line-height:64px;
    text-align:center;
    color: #e74c3c;
    background: transparent;
    border: 5px solid #e74c3c;
    margin: 20px 30px;
    cursor: pointer;
}

.circle:hover {
    color: #fff;
    background: #c0392b;
}

.circle.active {
    color: #fff;
    background: #e74c3c;
}

.nav-tabs>li>a {
  color: #fff;
  font-size: 20px;
}

.nav-tabs>li>a:hover {
  border-bottom: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  cursor: default;
  background-color: transparent;
  border: none;
  border-bottom-color: transparent;  
}

.nav-tabs>li.active {
  color: #fff;
  font-weight: bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
}